/* resources/css/app.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.logo {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.logo img {
    max-width: 50px;
    margin-right: 10px;
}

h1 {
    margin: 0;
}

nav {
    background-color: #444;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}





















.chollos-list {
    display: flex;
    flex-wrap: wrap;
}

.chollo-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 300px;
}

.chollo-description {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}

.chollo-details {
    font-size: 14px;
}

